In [10]:
import numpy as np
import pandas as pd

# 1. Write a Python program to rearrange positive and negative numbers in a
given list using Lambda and map()
Sample output:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [8]:
def rearrange(x):
    
    list_neg=[x for x in list if x < 0 ]
    neg = sorted(list_neg)
    
    list_pos=[x for x in list if x >= 0]
    
    return list_pos + neg


list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

rearrange(list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [32]:
orig_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

def rearaange(x):

    list_p = lambda x: [x for x in orig_list if x >= 0]
    p_list = pos_list(orig_list)

    list_n = lambda x: [x for x in orig_list if x < 0]
    n_list = sorted(neg_list(orig_list))

    return p_list + n_list

rearrange(orig_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

# 2. Create a new dataframe using week_11/temperatures/temperature.csv file
from last class. It should have the datetime column and one of the cities.
Create a new boolean column called is_freezing that indicates if the
temperature is at or below freezing. Use a lambda to create this column. Is
there a better way to do this than with a lambda?

In [39]:
temp_df = pd.read_csv('temperature.csv')
#temp_df
temp_new = temp_df[['datetime','Vancouver']]
temp_new.head()

              datetime   Vancouver
0  2012-10-01 12:00:00         NaN
1  2012-10-01 13:00:00  284.630000
2  2012-10-01 14:00:00  284.629041
3  2012-10-01 15:00:00  284.626998
4  2012-10-01 16:00:00  284.624955

In [44]:
temp_mod = temp_new.assign(is_freezing = lambda x: (x['Vancouver'] <= 273.15))
temp_mod

                  datetime   Vancouver  is_freezing
0      2012-10-01 12:00:00         NaN        False
1      2012-10-01 13:00:00  284.630000        False
2      2012-10-01 14:00:00  284.629041        False
3      2012-10-01 15:00:00  284.626998        False
4      2012-10-01 16:00:00  284.624955        False
...                    ...         ...          ...
45248  2017-11-29 20:00:00         NaN        False
45249  2017-11-29 21:00:00         NaN        False
45250  2017-11-29 22:00:00         NaN        False
45251  2017-11-29 23:00:00         NaN        False
45252  2017-11-30 00:00:00         NaN        False

[45253 rows x 3 columns]